spring:
  profiles:
    active: prod
  datasource:
    url: jdbc:mysql://localhost:3306/sentinel_gate
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    com:
      example:
        demo: DEBUG